/*----------------------------------------------- ( Start body ) -----------------------------------------*/
 /* التعديل هنا يكون تأثيره علي كامل الصفحه  */
 body{
    /*background-color: black;/* تغيير لون خلفية الصفحه للون الاسود */
    background-image: url(../IMG/background.jpg);/*  تحديد مكان الصوره */
    background-repeat: no-repeat;/* لضمان عدم تكرار الصوره  */
    background-size: cover;/* لضمان ان الصوره تغطي كامل الصفحه  */
    background-position: center;/* لضمان ان الصوره في منتصف الصفحه  */
    background-attachment: fixed;/*  لتثبيت الصوره كخلفيه للموقع عند التمرير بالماوس */
    color: rgba(255, 255, 255, 0.466);/* تغيير لون النص للابيض في كامل الصفحه ما لم يتم تغيير لون عنصر محدد  */
    margin: 0px;
    padding: 0px;
    font-size: 20px;

   }
/*----------------------------------------------- ( End   body ) ----------------------------------------*/


/*----------------------------------------------- ( Start  bar ) ----------------------------------------*/
 /* اول شريط عنوان في الصفحه  */
 nav {
    border: 7px double rgba(255, 255, 255, 0.466);/* /اضافة اطار خارجي له الخائص التاليه /عرض/ /شكل/ /لون */
    background-color:rgba(0, 0, 0, 0.904) ;
    width: 97%; /*  عرض الشريط */
    height: 100px;/* ارتفاع الشريط  */
    position: fixed;/* لجعل الشريط عائم  */
    box-shadow: 0px 0px 10px 0px rgb(255, 255, 255);
    border-radius: 18px;
      /* 
       1. مكان العنصر العائم يكون من بداية الصفحه 
       2. يجب تحديد مكان العنصر لانه عائم و لم يتعرف المتصفح علي مكان ثابت له 
       3. ينتج عن عدم تحديد مكان العنصر تداخل للعناصر مثل 
          1. ظهور العناصر التاليه للعنصر تحت هذا العنصر 
          2. margin-top:; يتحرك العنصر للاسفل مع العنصر الذي يليه عند وضع خائص له مثل
       4. بين العنصرين المتتاليين لكن هذا الحل ليس الافضل <br> او <hr> يمكن حل المشكله عن طريق اضافة  
       5. الافضل تحديد مكان اجباري للعنصر  لضمان عدم التداخل و ثباته في هذا المكان 
       6. وجعل العناصر التاليه تظهر تحته عند التمرير بالماوس 
      */ 
    top: 20px;/* تحديد مكان اجباري للشريط  من اعلي الصفحه بمقدار 0  */
      /* لجعل الشريط في منتصف الصفحه  
       1. قمت بابعاد الشريط من اليسار بحيث ان تكون بداية الشريط هي منتصف الصفحه 
       2. قمت بتحريك الشريط من مكان بدايته الي اليسار مره اخري هذه المره الجزء المتحرك من الشريط هو منتصفه
      */
    left:50%;/*  تحديد مكان اجباري للشريط من اليسار وهنا يكون بداية الشريط في منتصف الصفحه   */
    transform: translateX(-50%); /*  لجعل الشريط يتحرك من مكان بدايته لليسار بمقدار نصف عرض الشريط  */
  }
 /*-------------------------------------------- ( Star paragraph ) -------------------------------------*/
   /* Star Word NoteBook */
   nav p{
      text-align: center; 
      font-size: 35px;
      letter-spacing: 8px;
      font-weight: bold;
      color: black;
      text-shadow: 0px 0px 4px  rgb(255, 196, 0) ,1px 0px 3px  rgb(255, 196, 0),2px 0px 3px  rgba(255, 238, 0, 0.781) ;
    } 
   /* End Word NoteBook */
 /*-------------------------------------------- ( End paragraph ) -------------------------------------*/

/*----------------------------------------------- ( End       bar ) ---------------------------------*/